<%- include('partials/header') %>


  <!-- Main Content -->
  <div class="container mt-4">
    <h1>Welcome to College Internship Portal 🚀</h1>
    <p>Select any option from the navigation bar to explore the portal.</p>
  </div>
  <%- include('partials/footer') %>

